button {
    font-size: 0.6em;
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    padding: 3px;
  }
  
button:disabled {
   color: rgb(179, 179, 179);
   background-color: rgb(221, 221, 221);
}