html * {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ffffff;
  font-size: 20px;
}

h3 {
  display: inline-block;
}

h2 {
  display: inline-block;
  margin: 0;
  padding: 0px;
}

p {
  padding: 10px;
  margin: 0;
}
