
<!DOCTYPE html>
<html>
    <head>
        <title>Fonctions JS</title>
        <link rel="stylesheet" type="text/css" href="quiz.css">
            <script>
                 
                var grandTotal = 0;

                function fonction1(x){

                    document.getElementById("nom").innerHTML = x;
                }
        </script>
    </head>
    <body>
        <h1>Allumettes (100% un copie du jeu des trombones)</h1>
            <div id="f1">
                <form>
                <input name="a" type='text'>
                <input type="submit" onclick="fonction1(a.value)">
                <p id="nom"></p>
                </form>
                <br>
                <br>
                <div id="nom"></div>
            </div>
    </body>
</html>