<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="quiz.css">

      <style>
        body {
          background-color: #1f1e1e;
        }
        h1 {
          color: white;
          text-align: center;
        
        }

        h4 {
          color: white;
          text-align: center;
         }
         p {
          color: white;
          text-align: center;
         }

      </style>
      
        <title>Jeu 1</title>
        <body>
          
            
                <h1> Jeu</h1>
                <h4>Vous devrez choisir les bonnes portes pour survivre!</h4>
              
              <div style="text-align:center;">
            <p>Bravo! vous avez trouv&eacute; la bonne porte!</p>
            <br>
            <p>Vous entrez donc maintenant dans le manoir.</p>
            <br>
            <p>En entrant dans le manoir, Vous arrivez dans une pi&egrave;ce qui semble &ecirc;tre un couloir avec 4 portes...(Choisissez la bonne porte en cliquant dessus)</p>
              </div>
             
                  <div style="text-align:center;">
                <a href="choix6.html"><img src="porte.png"></a><a href="choix3.html"><img src="porte.png"></a><a href="choix8.html"><img src="porte.png"></a><a href="choix7.html"><img src="porte.png"></a>
                  <br>
                  <br>
                  <br>
                  <a href="jeu.html"><button class="button buttonC">Retour a l'&eacute;cran titre</button></a>

                </div>
              
              
              
        </body>
    </head>
</html>
