<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="quiz.css">
      <title>Jeu 1</title>
        <body>
            <section class=titre>
                <h1> Jeu</h1>
                <h4>Vous devrez choisir les bonnes portes pour survivre!</h4>
              </section>
              <div style="text-align:center;">
            <p>Zut, la porte donnait sur le couloir!</p>
            <br>
            <p>Vous entrez donc maintenant dans le couloir.</p>
            <br>
            <p>En rentrant dans le couloir, vous avez un trou de m&eacute;moire et ne vous vous souvenez plus de la bonne porte...(les portes ont &ecirc;tes m&eacute;lang&eacute;es, re-trouvez la bonne en cliquant dessus!)</p>
              </div>
              <section class=portes>
                  <div style="text-align:center;">
                <a href="choix3.2.html"><img src="porte.png"></a><a href="choix6.html"><img src="porte.png"></a><a href="choix8.html"><img src="porte.png"></a><a href="choix9.html"><img src="porte.png"></a>
                <br>
                <br>
                <br>
                <a href="jeu.html"><button class="button buttonC">Retour a l'&eacute;cran titre</button></a>
            
                </div>
              </section>
              
        </body>
    </head>
</html>