<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <title>Jeu 1</title>
        <body bgcolor="#000000">
            <section class=titre>
                <h1><span style="color:rgb(255, 255, 255);">Jeu</span></h1>
                <h4><span style="color:#ffffff;">Vous devrez choisir les bonnes portes pour survivre!</span></h4>
              </section>
              <div style="text-align:center;">
            <p><span style="color:rgb(107, 107, 107);">C'est a ce moment que vous remarquez que les pi&egrave;ces sont en chocolat! Vous avez risqu&eacute; votre vie pour un peu de chocolat...</span></p>
            <br>
              </div>
              <section class=portes>
                  <div style="text-align:center;">
                <img src="piece-chocolat.png">
                <br>
                <br>
                <br>
                <a href="jeu.html"><button class="button buttonC">Retour a l'&eacute;cran titre</button></a>
            </section>
            </div>
        </body>
    </head>
</html>
