<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="quiz.css">
        <title>
            Bienvenue sur nclsvncnt.net!
        </title>
    </head>
        <body>
            <div class="haut">
                <h1>Quiz</h1>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h4>Rat&eacute;</h4>
            <br>
            <br>
            <br>
            <br>
        
            <div style="text-align: center;">
            <a href="quiz.html"><button class="button buttonC">Retour</button></a>
            <br>
            <br>
            <br>
            <br>
            <a href="index.html"><button class="button buttonD">Retour a l'&eacute;cran d'accueuil</button></a>
            </div>
        </body>
</html>    