<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="quiz.css">
        <body>
            <section class=titre>
              <h1> Jeu</h1>
              <h4>Vous devrez choisir les bonnes portes pour survivre!</h4>
            </section>
            <section class=boutons>
                <div style="text-align:center;">
                <br>
                <br>
                <br>
                <p>En vous prommenant dans la for&ecirc;t avec vos deux amis vous d&eacute;couvrez par hasard un manoir.</p>
                <br>
                <p>En vous approchant de plus pr&egrave;;s, vous d&eacute;couvrez un panneau.</p>
                <p>lorsque vous &ecirc;tes assez pres, vous pouvez distinguer une &eacute;criture a peine lisible. (cliquez sur le panneau)</p>
                <br>
                <br>
                <br>
                    <a href="./panneau-bois-debut.html"><img src="blank-sign-oak.png"></a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="choix1.html"><button class="button buttonC">Continuer d'explorer</button></a>
                <br>
                <br>
                <a href="jeu.html"><button class="button buttonC">Retour a l'&eacute;cran titre</button></a>
                </div>
            </section>
        </body>
    </head>
</html>