<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" type="text/css" href="quiz.css">
        <title>
            Bienvenue sur nclsvncnt.net!
        </title>
    </head>
        <body>
            <div class="haut">
                <h1>Quiz</h1>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h4>Question 1</h4>
            <br>
            <br>
            <p>&Agrave; quelle date le d&eacute;barquement de Normandie a eu lieux?</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>A.) Le 6 juin 1944            B.) Le 4 juin 1945</p>
            <br>
            <p>C.) Le 5 juin 1944        D.) Une cr&egrave;me glac&eacute;e au chocolat s'il vous-plait.</p>
            <br>
            <br>
            <div style="text-align: center;">
            <a href="6juin1944.html"><button class="button buttonA">A</button></a>
            <a href="4juin1945.html"><button class="button buttonA">B</button></a>
            <a href="5juin1944.html"><button class="button buttonA">C</button></a>
            <a href="unecremeglaceeauchocolatsvp.html"><button class="button buttonA">D</button></a>
            <br>
            <br>
            <br>
            <br>
            <a href="index.html"><button class="button buttonC">Retour a l'&eacute;cran d'accueuil</button></a>
            </div>
            <br>
            <br>
        </body>
</html>