<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="quiz.css">
        <title>
            Bienvenue sur nclsvncnt.net!
        </title>
    </head>
        <body>
            <div class="haut">
                <h1><span style="color: white;">Quiz</span></h1>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h4>Question 2</h4>
            <br>
            <br>
            <p>Quel &eacute;taient les noms des &eacute;vad&eacute;s d'Alcatraz?</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>A.) Frank Anglin, John Morris et Clarence Anglin            B.) Frank West, Clarence Anglin et John Anglin</p>
            <br>
            <p>C.) Clarence Anglin, Frank Morris et John Anglin       D.) Allen West, Clarence Morris et John Anglin</p>
            <br>
            <br>
            <div style="text-align: center;">
            <a href="frankanglinjohnmorrisclarenceanglin.html"><button class="button buttonA">A</button></a>
            <a href="frankwestclarenceanglinjohnanglin.html"><button class="button buttonA">B</button></a>
            <a href="clarenceanglinfrankmorrisjohnanglin.html"><button class="button buttonA">C</button></a>
            <a href="allenwestclarencemorrisjohnanglin.html"><button class="button buttonA">D</button></a>
            <br>
            <br>
            <br>
            <br>
            <a href="index.html"><button class="button buttonC">Retour a l'&eacute;cran d'accueuil</button></a>
            </div>
            <br>
            <br>
        </body>
</html>