<!DOCTYPE html>
<html>

<head>
    <title>Se connecter</title>
    <link rel="stylesheet" type="text/css" href="stylesheet_login.css">

    <body>

        <h1>Adaoh.net - Cr&eacute;er un compte</h1>

        <form action="./loginouregister.html">
            <input type="submit" value="< Retour" />
        </form>

        <div class="loginbox">
            <img src="avatar.png" class="avatar">
            <h1>S'inscrire</h1>
            <form>
                <p>Nom d'utilisateur</p>
                <input type="text" name="" placeholder="Nom d'utilisateur">

                <p>Courriel</p>
                <input type="text" name="" placeholder="Courriel">

                <p>Mot de passe</p>
                <input type="password" name="" placeholder="Mot de passe">

                <input type="submit" name="" value="Connexion">

                <a href="#">Mot de passe oubli&eacute;?</a>
                <a href="./login.html">D&eacute;ja un compte?</a>
            </form>

        </div>
    </body>
</head>

</html>