

body {
  background-color: #1f1e1e;
  }
  h1 {
    color: white;
    text-align: center;
  
  }

  h4 {
    color: white;
    text-align: center;
   }
   p {
    color: white;
    text-align: center;
   }
    button {
border: none;
padding: 16px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
}

.buttonA {
background-color: #ff0000; 
color:white;
border: 3px solid #ff0000
}

.buttonA:hover {
background-color: #ff3300;
color: white;
border: 6px solid #ff3300;
}
.buttonB {
background-color: #ff0000; 
color:white;
padding: 28px 80px;
border: 3px solid #ff0000
}

.buttonB:hover {
background-color: #ff3300;
color: white;
border: 6px solid #ff3300;
}
.buttonC {
background-color: #ff0000; 
color:white;
padding: 4px 24px;
font-size: 12px;
border: 3px solid #ff0000
}
    
.buttonC:hover {
background-color: #ff3300;
color: white;
border: 6px solid #ff3300;
}

.buttonD {
  background-color: #ff0000; 
  color:white;
  border: 3px solid #ff0000;
  font-size: 12;
}
  
  .buttonD:hover {
  background-color: #ff3300;
  color: white;
  border: 6px solid #ff3300;
}


